
/* For the entire page */
body{
    margin:5px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #ffa861;
}
.main{
   background-image: url(C:/Users/HP/Downloads/Yangzhou-Zhongshuge-featured.webp);
   background-repeat: no-repeat;
   height: 100vh;
   width: 100%;
   margin-bottom: 20px;
}
/* Navigation Bar */
h1{
    background-image: url(C:/Users/HP/Downloads/image.jfif);
    background-size: contain;
    text-align: center;
    color: cornsilk;
    border: 5px solid rgb(230, 152, 7);
    margin: 5px;
    width: 98.7%;
    margin: 5px;
    align-items: center;
    margin-top: 30px;
}
.em{
    text-align: center;
    font-size: 50px;
    width: 98.7%;
    margin: 1px;
    color: aliceblue;
    top: 40px;
}
.NAV{
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    background-color: burlywood;
    background-image: url(C:/Users/HP/Downloads/images2.jfif);
    background-size: contain;
    width: 98.7%;
    text-decoration: wavy;
    color: rgb(0, 0, 0);
    position: fixed;
    margin: 5px;
    top: 0%;
}
.a:visited{
    color: white;
    cursor: pointer;
}
/* Hero Section */
.h2{
    text-align: center;
    font-size: 20px;
    color: beige;
    padding: 250px;
}
.Browse{
    text-align: center;
    border-radius: 20px;
}
/* Featured */
.Fea{
    text-align: center;
    margin-top: 320px;
    padding: 400px;
    color: aliceblue;
    font-size: 25px;
}
.imge{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}
.bk{
    border: 4px solid hsl(35, 94%, 48%);
    margin: 10px;
    color: rgb(237, 237, 5);
    font-weight: 900;
}
.bk:hover{
    background-color: rgb(228, 85, 9);
    transform: scale(1.2);
}

#Featured{
    background-image: url(C:/Users/HP/Downloads/rptgtpxd-1396254731.avif);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
/* .img:hover{
  
} */
._1{
   background-image: url(C:/Users/HP/Downloads/download.jfif);
   background-size: 30vh 20vh;
   background-repeat: no-repeat;
   font-size: 30px;
   text-align: left;
   text-shadow: 4px;
   color: azure;
   padding: 50px;
   width: 25%;
}
._2{
   background-image: url(C:/Users/HP/Downloads/images4.jfif);
   background-size: 30vh 20vh;
   background-repeat: no-repeat;
   font-size: 30px;
   text-align: left;
   text-shadow: 4px;
   color: azure;
   padding: 50px;
   width: 25%;
}
._3{
   background-image: url(C:/Users/HP/Downloads/download1.jfif);
   background-size: 30vh 20vh;
   background-repeat: no-repeat;
   font-size: 30px;
   text-align: left;
   text-shadow: 4px;
   color: azure;
   padding: 50px;
   width: 25%;
}
._4{
   background-image: url(C:/Users/HP/Downloads/download2.jfif);
   background-size: 30vh 20vh;
   background-repeat: no-repeat;
   font-size: 30px;
   text-align: left;
   text-shadow: 4px;
   color: azure;
   padding: 50px;
   width: 25%;
}
._5{
    background-image: url(C:/Users/HP/Downloads/download3.jfif);
    background-size: 30vh 20vh;
    background-repeat: no-repeat;
    font-size: 30px;
    text-align: left;
    text-shadow: 4px;
    color: azure;
    padding: 50px;
 }
 .list{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex: 1;
    gap: 15px;
 }
 ._:hover{
    transform: scale(1.2);
 }
.Cat{
    text-align: center;
    font-size: 30px;
    color: azure;
}
.back{
    background-image: url(C:/Users/HP/Downloads/stack-of-books-on-a-brown-background-concept-for-world-book-day-photo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/* Review Card */
.Review{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex: 1;
    gap: 15px;
    border: 4px solid rgb(255, 85, 0);
    margin: 15px;
}
.Review:hover{
    transform: scale(1.2);
}
.What{
    text-align: center;
    font-size: 30px;
    color:aliceblue;
}
.Your_Review{
    text-align: center;
    color: aliceblue;
    font-size: 30px;
}
.form input,
.form textarea{
    width: 100%;
}
.Submit{
    text-align: center;
    border-radius: 20px;
}
/* Footer */
.down{
    background-color: chocolate;
    color: black;
    text-align: center;
    padding: 10px;
}
.hey{
    padding: 10px;
    margin: 10px;
}
.Top{
    padding: 10px;
    margin: 10px;
    text-align: right;
}
